.loading-container {
    position: relative;
    width: 100px;
    height: 100px;
}

.loading-container .bubble-container {
    position: absolute;
    top: calc(50% - 10px / 2);
    left: calc(50% - 10px / 2);
    transform-origin: -150% 50%;
}

.loading-container .bubble-container:nth-of-type(0n+1) {
    transform: translateX(200%) rotate(-90deg);
    animation-delay: -1.5s;
}

.loading-container .bubble-container:nth-of-type(0n+2) {
    transform: translateX(200%) rotate(-45deg);
    animation-delay: -1.375s;
}

.loading-container .bubble-container:nth-of-type(0n+3) {
    transform: translateX(200%);
    animation-delay: -1.25s;
}

.loading-container .bubble-container:nth-of-type(0n+4) {
    transform: translateX(200%) rotate(45deg);
    animation-delay: -1.125s;
}

.loading-container .bubble-container:nth-of-type(0n+5) {
    transform: translateX(200%) rotate(90deg);
    animation-delay: -1s;
}

.loading-container .bubble-container:nth-of-type(0n+6) {
    transform: translateX(200%) rotate(135deg);
    animation-delay: -0.875s;
}

.loading-container .bubble-container:nth-of-type(0n+7) {
    transform: translateX(200%) rotate(180deg);
    animation-delay: -0.75s;
}

.loading-container .bubble-container:nth-of-type(0n+8) {
    transform: translateX(200%) rotate(225deg);
    animation-delay: -0.625s;
}

.loading-container .bubble-container .bubble {
    background-color: rgb(0, 185, 25);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: loading-bubble 1s infinite;
    animation-delay: inherit;
}

#logoImg {
    transition: all .5s ease-in-out;
    animation: logo-rotate-bounce 8s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes logo-rotate-bounce {
    0% {
        transform: translateY(0px) rotate(0);    
    }

    30% {
        transform: translateY(0px) rotate(360deg);
    }

    40% {
        transform: translateY(-10px) rotate(360deg);
    }

    45% {
        transform: translateY(0px) rotate(360deg);
    }

    50% {
        transform: translateY(0px) rotate(375deg);
    }

    55% {
        transform: translateY(0px) rotate(345deg);
    }

    60% {
        transform: translateY(0px) rotate(360deg);
    }

    65% {
        transform: translateY(-5px) rotate(360deg);
    }

    70% {
        transform: translateY(0px) rotate(360deg);
    }

    100% {
        transform: translateY(0px) rotate(360deg);
    }
}

@keyframes loading-bubble {
    0%, 100% {
        transform: scale(0);
        box-shadow: 0 0 0px rgba(0, 0, 0, .5);
    }

    50% {
        transform: scale(1);
        box-shadow: 0 0 2px black;
    }
    
}